<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/styles.css">
</head>
<body>

    <nav>
        
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/borrow_list">Student Borrow List</a></li>
            <li><a href="/login">Login</a></li>

        </ul>
    </nav>
    
    <h3>Book Requests</h3>
        
        <table>
            <thead>
                <tr>
                    <th>Student Id</th>
                    <th>Book Title</th>
                    <th>Request Date</th>
                    <th>Return Date</th>
                    <th>Status</th>
                    <th>Action</th>
                    
                </tr>
            </thead>

            <tbody>
                <% if(request.length) { for(var i = 0; i< request.length; i++) {%>
                    <form action="/book_request/post" method="post" class="borrowListForm">

                        <tr>
                            <td>
                                <%= request[i].student_id %>
                                <input type="hidden" name="student_id" id="" value="<%= request[i].student_id %>">
                            </td>
                            <td>
                                <%= request[i].book_title %>
                                <input type="hidden" name="book_title" id="" value="<%= request[i].book_title %>">
                            </td>
                            <td>
                                <%= new Date(request[i].request_date).toLocaleDateString('fr-CA') %>

                                <input type="hidden" name="borrowed_date" id="" value="<%= new Date(request[i].request_date).toLocaleDateString('fr-CA') %>">
                            </td>

                            <td>
                                <%= new Date().toLocaleDateString('fr-CA') %>
                                <input type="hidden" name="return_date" id="" value="<%= new Date().toLocaleDateString('fr-CA') %>">
                            </td>

                            <td>
                                <select name="status">
                                    <option value="Outstanding">Outstanding</option>
                                    <option value="Returned">Returned</option>
                                </select>
                            </td>
                            <td>
                                <button type="submit">Confirm</button>
                                <a href="/book_request/delete/:id<%=request[i].id%>" class="confirm">Delete</a>

                                
                            </td>
                        </tr>
                    </form>
                <% }
                    
                }else{ %>
                    <tr>
                        <td colspan="5">No Books Borrowed </td>
                    </tr>
                <% } %>
            </tbody>
        </table>

    
    
</body>
</html>