<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= page_title  %> </title>
    <link rel="stylesheet" href="../public/styles.css">
</head>
<body>

    <nav>
        
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/book_request">View Requests</a></li>
            <li><a href="/login">Login</a></li>

        </ul>
    </nav>


    <a href="/logout" class="userLogout"><button type="submit" >Logout</button></a>

    <h3>Students Borrowed Books List</h3>

    <form action="/borrow_list" method="post" class="borrowListForm">

        <table>
            <thead>
                <tr>
                    <th>Student Id</th>
                    <th>Book Category</th>
                    <th>Book Title</th>
                    <th>Borrowed Date</th>
                    <th>Return Date</th>
                    <th>Status</th>
                    
                </tr>
            </thead>

            <tbody>
                <% if(borrow.length) { for(var i = 0; i< borrow.length; i++) {%>
                    <tr>
                        <td><%= borrow[i].student_id %></td>
                        <td><%= borrow[i].book_category %></td>
                        <td><%= borrow[i].book_title %></td>
                        <td><%= borrow[i].borrowed_date %></td>
                        <td><%= borrow[i].return_date %></td>
                        <td>
                            <a href="/projects-edit/edit/<%=borrow[i].id%>" class="confirm">Returned</a>
                            <a href="/projects-delete/delete/<%=borrow[i].id%>" class="delete">Outstanding</a>
                        </td>
                    </tr>
                <% }
                    
                }else{ %>
                    <tr>
                        <td colspan="5">No Books Borrowed </td>
                    </tr>
                <% } %>
            </tbody>
        </table>

    </form>
</body>

</html>