<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/styles.css">
</head>
<body>
    <%- include('nav.ejs') %> 

    <div class="libBookCoverImg"></div>

    <h1 class="libBookH1">Library Book Directory</h1>

    <h4 class="libBookH4">Welcome <%= my_session.first_nm %> </h4>

    <input type="search" name="search" id="search" placeholder="Search Books">

    <div class="libContainer">
        

        <% if(library.length) { for(var i = 0; i< library.length; i++) {%>
            
            <form action="/book_request/add" method="post" class="libBookForm">

                <input type="hidden" name="student_id" id="student_id" value="<%= my_session.student_id %> ">

                <label for=""><%= library[i].book_title %></label>
                <input type="hidden" name="book_title" value="<%= library[i].book_title %>">
                <br>
        
                <label for=""><%= library[i].reference_nm %></label>
                <input type="hidden" name="reference_nm" value="<%= library[i].reference_nm %>">
                <br>
        
                <img src="<%= library[i].url %>" alt="" name="url">

                <br>
        
                
               <button type="sumbit">Request</button>
        
            </form> 
   
        
        <% } %>
            
        <% } %>
    </div>
    
    
</body>
</html>
